@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("../fonts/Raleway-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Raleway-SemiBold";
    src: url("../fonts/Raleway-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

/*=================== GENERAL STYLES ===============*/
p, a {
    color: #777777;
    margin-bottom: 0;
    font-family: "Roboto";
    text-decoration: none;
}

a {
    cursor: pointer;
}

/*=================== HEADER ===============*/
.top-header {
    padding-top: 15px;
    padding-bottom: 11px;
}

.left-header {
    font-size: 12px;
}

.right-header {
    font-size: 12px;
}


.nav>a:last-child::before {
    content: '|';
    color: #e1e1e1;
    padding-right: 14px;
}

.header-link:hover>.fa-heart {
    color: red;
}

.right-header>nav>a:first-child::after {
    content: '|';
    padding-left: 14px;
    color: #e1e1e1;
}

.button {
    border: none;
    border-radius: 1px;
    color: #555555;
    padding: 8px 9px 8px 9px;
    font-family: "Roboto";
    font-size: 11px;
    cursor: pointer;
}

.header-content {
    margin: 32px 0px 32px 0px;
    height: 46px;
}

.left-header, .search, .cart {
    height: 46px;
}

.search-input {
    color: #aaaaaa;
    border: 1px #e8e8e8 solid;
    height: 100%;
    font-family: "Roboto";
    font-size: 12px;
    padding-left: 14px;
    width: 100%;
    border-radius: 1px;
}

.btn {
    border: 1px #e8e8e8 solid;
    height: 46px;
    font-family: "Roboto";
    font-size: 12px;
    padding: 0px 14px 0px 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    color: black;
    border-radius: 1px;
}

.btn:hover {
    color: black;
}


.serch-icon-button {
    height: 100%;
    background-color: #ffd200;
    cursor: pointer;
    border-radius: 1px;
}

.serch-icon-button > i {
    padding: 17px;
}

.img-fluid {
    margin: 13px 13px 13px 0px;
}

.price {
    color: #408de4;
}

.cart a:last-child {
    height: 100%;
    border-left: 1px #e8e8e8 solid;
}

.cart a:last-child>p {
    height: 100%;
    line-height: 46px;
    margin-left: 14px;
}

.phone-container {
    padding: 0;
}

.phone {
    background-color: #ffd200;
    margin-left: 14px;
    padding: 5px 8px 5px 8px;
}

/*=================== MAIN (advantages # SECTION) ===============*/

.advantages {
    padding: 80px 0px 70px 0px;
}

.advantages-icon {
    padding: 24px 28px 24px 28px;
}

.advantages h2 {
    font-family: "Raleway-SemiBold";
}

.advantages p {
    font-family: "Roboto";
}

/*=================== MAIN (LAST # SECTIONS) ===============*/
.cards-content{
    width: 100%;
}
.card{
    padding:39px 0px 46px 0px;
    border-radius: 0;
    border:none;
}
.card:not(:first-child){
    padding-left: 66px;
}
.card:not(:last-child){
    border-right:1px rgba(0,0,0,.125) solid;
    padding-right: 57px;
}
.telega-card-container img{
    width:49px;
    height: 48px;
}
.shield-card-container img{
    width:40px;
    height: 51px;
}
.credit-card-container img{
    width:55px;
    height: 40px;
}
.mobilePhone-card-container img{
    width:38px;
    height: 53px;
}
.card-title{
    font-size: 15px;
    font-weight: bold;
}
.card-text{
    font-size: 12px;
    font-weight: normal;
}




.keep-in-touch-section{
    background-color: #408de4;
    padding: 29px 0px;
}
.keep-in-touch-section h1{
    font-size: 15;
    font-weight: bold;
    color:white;
    text-transform: uppercase;
    width: 150px;
    margin:0;
}
.imgText-wrapper{
    width:20rem;
    padding-left: 50px;
}
.paper-plane-img{
    margin-right: 20px;
}
/*=================== FOOTER =======================*/
footer{
    margin:0;
    padding:0;
}
footer .container{
    padding:35px 0px;
}
footer p{
    font-size: 12px;
    font-family: 'Roboto';
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}
